/* TEST */
body{
    width:300px;
    height:500px;
}

/* MODULE STYLES*/

.tree-container{
    border:1px solid lightgray;
    width: 100%;
    height:100%;
	overflow: auto;
}

.tree-container, .tree-container ul, .tree-container li {
     position: relative;
	 margin-top:10px;
	  margin-bottom:10px;
}

.tree-container ul {
	display:block;
    list-style: none;
    padding-left: 32px;
}

.tree-container li.dragged > ul {
	display: none;
}

.tree-container li.dragged.over > ul {
	display: none;
}

.tree-container li.over {
	border:2px dotted black;
}

.tree-root{
	padding:5px;
}

.tree-root.over{
	border:2px dotted black;
}


.tree-container li::before, .tree-container li::after {
    content: "";
    position: absolute;
    left: -12px;
}

.tree-container li::before {
    border-top: 1px solid #000;
    top: 9px;
    width: 8px;
    height: 0;
}

.tree-container li::after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: 2px;
}

.tree-container ul > li:last-child::after {
    height: 8px;
}

/*CHECKBOX*/
.control-group {
	display: inline-block;
	width: 200px;
	height: 210px;
	margin: 10px;
	padding: 30px;
	text-align: left;
	vertical-align: top;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.control {
	font-size: 18px;
	position: relative;
	display: block;
	padding-left: 30px;
	cursor: pointer;
    border:2px solid transparent;
	padding-bottom: 3px;
    border-radius: 3px;
}
.control.selected{
	    border: 2px dotted lightgray;
}


[draggable]{
    -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control--radio .control__indicator {
	border-radius: 50%;
}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}